{{define "hello"}}
<html>
    <head>
<!-- Bootstrap core CSS -->{{- .CommentLine -}}
<link href="/css/bootstrap.min.css" rel="stylesheet" >
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-lg">

            <div>
                <h3>Bootstrap pagination</h3>
            </div>
            <div>
                {{template "bootstrap-pagination" .PageNavi }}
            </div>

            <div>
                <h3>Bootstrap modal-dialog</h3>
            </div>
            <div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalDialogExample">
                    Launch static backdrop modal
                </button>
                {{template "bootstrap-modalDialog" .ModalDialog }}
            </div>

            <div>
                <h3>Bootstrap alert</h3>
            </div>
            <div>
                {{template "bootstrap-alert" .Alert }}
            </div>

            <div>
                <h3>Bootstrap badge</h3>
            </div>
            <div>
                {{template "bootstrap-badge" .BadgeButton }} {{template "bootstrap-badge" .BadgeSpan }}  {{template "bootstrap-badge" .BadgeLink }}
            </div>

            <div>
                <h3>Bootstrap breadcrumb</h3>
            </div>
            <div>
                {{template "bootstrap-breadCrumb" .TplBreadcrumb }} 
            </div>

            <div>
                <h3>Bootstrap button</h3>
            </div>
            <div>
                {{template "bootstrap-button" .ButtonLinkExample }} <br />
                {{template "bootstrap-button" .ButtonInputExample }} <br />
                {{template "bootstrap-button" .ButtonButtonExample }} <br />
            </div>

            <div>
                <h3>Bootstrap button group</h3>
            </div>
            <div>
                {{template "bootstrap-buttonGroup" .ButtonGroup }} 
            </div>

            <div>
                {{template "bootstrap-buttonGroup" .ButtonGroup2 }} 
            </div>

            <div>
                <h3>Bootstrap card</h3>
            </div>
            <div>
                {{template "bootstrap-card" .Card }} 
            </div>

            <!-- html encode -->
            {{.HTMLTest}}
            <!-- html safe not encode-->
            {{htmlSafe .HTMLTest}}
            {{if hasPermission 2 -}}
            <span>PPP</span> <br />
            {{- end}}
        </div>
    </body>
</html>
{{end}}