{{define "bootstrap-modalDialog" -}}
<!-- Modal -->
    <div class="modal fade" id="{{.Id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog {{.scrollableClass}} {{.verticalcenterClass}} {{.sizeClass}}">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{.Title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{.Description}}</p>
                    {{range .Blocks -}}
                        <p>{{.}}</p>
                    {{end}}
                </div>
                {{if .noButton -}}
                {{else -}}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{.CloseText}}</button>
                    <button type="button" class="btn btn-primary btn-Enter">{{.EnterText}}</button>
                </div>{{end}}
            </div>
        </div>
    </div>
{{end}}
